/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light; }
html, body { height: 100%; }
body { @apply bg-white text-slate-900 antialiased; }

/* estados de foco acessíveis */
:focus-visible { outline: none; }
.focus-ring { @apply ring-2 ring-brand-600 ring-offset-2 ring-offset-white; }
